@font-face {
    font-family: 'Nunito';
    src: url('/assets/font/Nunito/nunito-light.woff') format('woff'),
         url('/assets/font/Nunito/nunito-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html {
    /* 1 */
    font-family: Nunito;
    /* font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    background: #fff;
    color: #666;
}

.bg-map { background-color: #0f6ecd5c; }
.bg-white { background-color: #fff; }
.bg-green { background-color: #04ff006e; }
.bg-yelow { background-color: #fae65ac4; }
.bg-brown { background-color: #ffa446c4; }
.bg-red { background-color: #fa5a5a; }
.bg-prymari { background-color: #1e87f0; }
.bg-grey { background-color: #ededed; }
.bg-grey-1 { background-color: #464646; }
.bg-dark { background-color: #000 !important; }
.text-white { color: #fff; }
.text-yellow { color: #fae65ac4; }
.text-grey { color: #ddd; }

.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-color-green { background-color: #009b4c; }
.border-top-success { border-top: 1px solid #009b4c; }
.color-white { color: #fff; }

.m-5 { margin: 5px; }
.mt-5 { margin-top: 5px;}
.mb-5 { margin-bottom: 5px;}
.ml-5 { margin-left: 5px;}
.mr-5 { margin-right: 5px;}
.m-10 { margin: 10px; }
.mt-10 { margin-top: 10px;}
.mb-10 { margin-bottom: 10px;}
.ml-10 { margin-left: 10px;}
.mr-10 { margin-right: 10px;}
.m-15 { margin: 15px; }
.mt-15 { margin-top: 15px;}
.mb-15 { margin-bottom: 15px;}
.ml-15 { margin-left: 15px;}
.mr-15 { margin-right: 15px;}
.m-20 { margin: 20px; }
.mt-20 { margin-top: 20px;}
.mb-20 { margin-bottom: 20px;}
.ml-20 { margin-left: 20px;}
.mr-20 { margin-right: 20px;}
.m-40 { margin: 40px; }
/* .ml-40{margin-left: 40px;} */
.mr-40{margin-right: 40px;}
.mt-40{margin-top: 40px;}
.mb-40{margin-bottom: 40px;}

.p-5 { padding: 5px; }
.pt-5 { padding-top: 5px;}
.pb-5 { padding-bottom: 5px;}
.pl-5 { padding-left: 5px;}
.pr-5 { padding-right: 5px;}
.p-10 { padding: 10px; }
.pt-10 { padding-top: 10px;}
.pb-10 { padding-bottom: 10px;}
.pl-10 { padding-left: 10px;}
.pr-10 { padding-right: 10px;}
.p-15 { padding: 15px; }
.pt-15 { padding-top: 15px;}
.pb-15 { padding-bottom: 15px;}
.pl-15 { padding-left: 15px;}
.pr-15 { padding-right: 15px;}
.p-20 { padding: 20px; }
.pt-20 { padding-top: 20px;}
.pb-20 { padding-bottom: 20px;}
.pl-20 { padding-left: 20px;}
.pr-20 { padding-right: 20px;}

.btn-default {
    background-color: #009b4c;
    color: #fff;
}
.btn-default:hover {
    color: #000;
}

.box-color {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.divider-submit {
    /* border-top: 1px solid #fff; */
    padding-top: 15px;
}

.left-line {
    border-left: 1px solid #fff;
    margin-left: 5px;
    padding: 5px;
}

.later-cap {
    width: 32px;
    height: 32px;
    color: #fff;
    margin-left: 5px;
    text-align: center;
    display: table;
}

.later-cap > .child-later-cap {
    display: table-cell;
    vertical-align: middle;
}

.uk-navbar-container {
    background-color: #000 !important;
    color: #fff;
}

.text-color-white { color: #fff; }

.vh-25 { height: 25vh; }
.vh-88 { height: 88vh; }
.vh-89 { height: 89vh; }
.vh-90 { height: 90vh; }
.vh-93 { height: 93vh; }
.vh-94 { height: 94vh; }
.vh-95-5 { height: 95.5vh; }

.border-bottom { border-bottom: 1px solid #ddd; }
.web-fill { width: -webkit-fill-available; }

@media (min-width: 1200px) { /* Large screen width in UI Kit */
    .ml-40:nth-of-type(4n+2), .ml-r-40:nth-of-type(4n+3), .ml-r-40:nth-of-type(4n+4) { /* Select the 2nd, 3rd and 4th element of the row when showing 4 columns */
      margin-left: 40px;
    }

    .btn-right-bottom {
        position: fixed;
        bottom: 15px;
    }
}
  
@media (min-width: 960px)  and (max-width: 1200px) { /* Medium screen width in UI Kit */
    .ml-40:nth-of-type(3n+2), .ml-r-40:nth-of-type(3n+3) { /* Select the 2nd, 3rd element of the row when showing 3 columns */
      margin-left: 40px;
    }

    .btn-right-bottom {
        position: fixed;
        bottom: 50px;
    }
}
  
@media (min-width: 640px)  and (max-width: 960px) { /* Small screen width in UI Kit */
    .ml-40:nth-of-type(2n+2) { /* Select the 2nd element of the row when showing 2 columns */
      margin-left: 0px;
    }

    .btn-right-bottom {
        position: fixed;
        bottom: 50px;
    }
}

.truncate-height { height: 45px; overflow: hidden;}
::-webkit-scrollbar {
    width: 0;
}